*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height:100vh;
    display: flex;
    flex-direction:column;
    font-family: "Times New Roman";
    background-color: #f4f4f5;

}
body>div{
    margin: auto;
}
.btn
{
    margin:auto;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity 0.2s ease;

}
.btn + .btn
{
    margin-left: 16px;
}
.btn:hover{
    opacity: 0.8;
}
.btn--success
{
    background-color: red;
}
.btn--fail
{
    background-color: blue;
}

#toast{
    position: fixed;
    top:32px;
    right:32px;
}
.toast
{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid;
    padding: 20px 0px;
    min-width: 400px;
    max-width: 450px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.88);
    transition: all linear 0.3s;
}
@keyframes slidein {
    from
    {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to
    {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fade {
    to{
        opacity: 0;
    }
    
}
.toast+.toast
{
    margin-top: 20px;
}
.toast__icon
{
    font-size: 24px;
    color: pink;
}
.toast__icon,.toast__close
{
    padding: 0px 16px;
}
.toast__body
{
    flex-grow: 1;
}
.toast__title
{
    font-size: 16px;
    font-weight: 600;
    color: red;
}
.toast__msg
{
    font-size: 16px;
    color: green;
    margin-top: 4px;
}
.toast__close
{
    font-size: 20px;
    color :black;
    padding: 0px 16px;
    cursor: pointer;
}
.toast--success
{
    border-color: red;
}
.toast--success .toast__icon
{
    color: red;
}
.toast--info
{
    border-color: blue;
}
.toast--info .toast__icon
{
    color: blue;
}
.toast--fail
{
    border-color: green;
}
.toast--fail .toast__icon
{
    color: green;
}



